/*========================================================
=            	Bootstrap 3 Media Queries                =
= .col-xs-$	Phones 			Less than 768px				 =
= .col-sm-$	Small Devices	Tablets 768px and Up		 =
= .col-md-$	Medium Devices	Desktops 992px and Up		 =
= .col-lg-$	Large Devices	Large Desktops 1200px and Up =
=                                                        =
= .visible-{s} and .hidden-{s} show/hide based on size   =
==========================================================*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}


/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}